/*barra de navegacion*/
.nav-index{
    display: inline-block;
	background: #D9FA4B;
	color: #2E14F7;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 15px; 
}

/*body*/
body{
	background-color: #F0B865;
}
h1{
	font-style: italic;
	color: #0c1f42;
}

.title{
    text-align: center;
    text-shadow: 1px 1px;
    font-size: xx-large;
    font-style: italic;
    text-shadow: 2px 2px red;

}


fieldset{
	border-width: 5px;
    border-style: inherit;
    text-align: justify;
}

.textoul{
    width: 55%;
    font-style: italic;
    font-size: 18px;
}

.textosinul{
    
    font-style: italic;
    font-size: 22px;
    
}



/*Pie de página*/
footer{
	height: 40px;
	background: #D9FA4B;
	margin-top: 50px;
	color: #2E14F7;
	font-weight: 800;
	font-size: 17px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 20px;
}