/*barra de navegacion*/

.header {
	background: #ad7f39;
	width: 100%;
	clear: both;
	content:'';
	display: table;
  }
  
  .menu {
	width: 900px;
	margin: 0 auto;
  }
  
  .bar {
	width: 120px;
	height: 50px;
	float: left;
	padding: 8px;
  
  }
  
  .navbar {
	float: right;
  }
  
  nav ul li {
	list-style: none;
	margin-left: 75px;
	padding: 12px 0;
	float: left;
	position: relative;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #1b0d86;
	font-weight: bold;
  }
  
  nav ul li a::before {
	display: block;
	content: '';
	width: 0%;
	background: #444;
	height: 5px;
	top:0;
	position: absolute;
	transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
	width: 100%;
  }



/* Anterior css del menú
.nav-items{
    display: inline-block;
	background: #ad7f39;
	color: #1b0d86;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 15px; 
}
*/

/*body*/
body{
	background-color: #F0B865;
}

/*Los títulos*/
.title{
    text-align: center;
    text-shadow: 1px 1px;
    font-size: xx-large;
    font-style: italic;
    text-shadow: 2px 2px red;

}

/*Configuración de las imagenes*/

.items img{
    height: auto;
    width: auto;
    width: 400px;
    height: 320px;
    margin: 0.5%;
}

.items {
    border: 2px solid #ad7f39;
    box-sizing: border-box;
    color: rgb(49, 47, 47);
    display: inline-block;
    padding: 1em;
    width: 33%;
    margin-bottom: 8px ;
    text-align: center;
   

    
  }

/*Pie de página*/
footer{
	height: 40px;
	background: #ad7f39;
	margin-top: 50px;
	color: #1b0d86;
	font-weight: 800;
	font-size: 17px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 20px;
}